@svg 1px-border { 
  height: 2px; 
  @rect { fill: var(--color, black); width: 100%; height: 50%; } 
}
.test1 {
  /* // width: 300px; */
  /* // height: 200px; */
  margin-bottom: 10px;
  background: pink;
  border: 1px solid transparent;
  border-image: svg(1px-border param(--color #00b1ff)) 2 2 stretch;
  &:before {
    content: '';
    display: block;
    padding-top: 66.666%;
  }
}
p {
  font-size: 20px;
  color: #ff0;
}
p {
  background: url('../images/newer.png');
}
.test {border: 5px black solid;color: lime;}